<div class="container portfolio-container">
  <%= form_with(model: comptabilite, local: true) do |form| %>
    <% if comptabilite.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2>Impossible d'enregistrer: <%= pluralize(comptabilite.errors.count, "erreur") %></h2>

        <ul>
        <% comptabilite.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% if @msg_error %>
    <div class="alert alert-danger">
    <ul>
      <li><%= @msg_error %></div></li>
    </ul>
  <% end %>
    <div class="form-group col-md-4">
      <%= form.label :nom %>
      <%= form.text_field :nom, class:"form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :prenom %>
      <%= form.text_field :prenom, class:"form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :acte %>
      <%= form.collection_select(:acte_id, Acte.all, :id, :name,
        {
          include_blank: true
        },
        class: 'form-control',
      ) 
    %>
    </div>

    <div class="form-group  col-md-4">
    <%= form.label :type_paiment_id %>
    <%= form.collection_select(:type_paiment_id, TypePaiment.all, :id, :name,
        {
          #selected: "Choisir un IPM",
          include_blank: true
        },
        onchange: 'getIDTypePaiment()',
        class: 'form-control'
      ) 
    %>
    </div>

    <div id="ipm">
      <div class="form-group col-md-4">
        <%= form.label :ipm_id %>
        <%= form.collection_select(:ipm_id, Ipm.all, :id, :name,
            {
              include_blank: true
            },
            class: 'form-control'
          ) 
        %>
      </div>

      <div class="form-group col-md-4">
        <%= form.label :montant_total %>
        <%= form.collection_select(:montant_total, Ipm.all, :id, :name,
            {
              include_blank: true
            },
            class: 'form-control'
          ) 
        %>
      </div>
      
      <div class="form-group col-md-4">
        <%= form.label :pourcentage_ipm %>
        <%= form.number_field :pourcentage_ipm, min: 0, max: 100, class:"form-control" %>
      </div>
    </div>



    <div class="form-group col-md-4" style="" id="montant">
      <%= form.label :montant %>
      <%= form.number_field :montant, class:"form-control", min: 0 %>
    </div>

    <div class="form-group col-md-4">
      <%= form.label :telephone %>
      <%= form.text_field :telephone, class:"form-control" %>
    </div>
    

    <br>
    <div class="form-group">
      <%= form.submit "Enregistrer", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>