<div class="container portfolio-container">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Nouveau', new_comptabilite_path, class:"btn btn-primary" %> <%= link_to 'Réglement', reglements_path(), class:"btn btn-outline-dark" %>
  <br>
<hr>
  <div class="row">
    <div class="col-md-4">
      <%= form_tag(comptabilites_path, method: :get) do %>
        <div class="form-group">
          <%= date_field_tag(:selected_date_day, params[:selected_date_day], class:"form-control") %>
          <hr class="">
        <%= submit_tag ("Bilan du jour"),  class:"form-control btn-primary" %>
        </div>
        <br>
        
      <% end %>
    </div>

    <div class="col-md-4">
      <%= form_tag(comptabilites_path, method: :get) do %>
        <div class="form-group">
          <%= date_field_tag(:selected_date_month, params[:selected_date_month], class:"form-control") %>
        </div>
        <hr class="">
        <div class="form-group">
        <%= submit_tag ("Bilan du mois"),  class:"form-control btn-primary" %>
        </div>        
      <% end %>
    </div>
  </div>
  <% if @date_month && @date_month != "" %>
    <span class="alert alert-primary d-flex align-items-center" role="alert">Le bilan du <%= @date_month_info.strftime("%Y/%m") if !@date_month.empty? %> est de :<%= @bilan_mensuel if @bilan_mensuel %>F</span>
  <% end %>

  <% if @date_day && @date_day != "" %>
    <span class="alert alert-primary d-flex align-items-center" role="alert">Le bilan du <%= @date_day %> est de :<%= @recherche_caiss_journalier.sum("montant") if @recherche_caiss_journalier %>F</span>
  <% end %>
  <hr>
  <h1>Encaissé <span> Aujourd'hui: <%= @total= @caiss_journalier.sum("montant") %> </span -->
  <br></h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Acte</th>
          <th>Type Paiement</th>
          <th>Pourcentage IPM</th>
          <th>Montant</th>
          <th>Date :</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @comptabilites.each do |comptabilite| %>
          <tr>
            <td><%= comptabilite.nom %></td>
            <td><%= comptabilite.prenom %></td>
            <td><%= comptabilite.acte.name %></td>
            <td><%= comptabilite.type_paiment.name %></td>
            <td><%= "#{comptabilite.pourcentage_ipm} %" if comptabilite.pourcentage_ipm %></td>
            <td><%= comptabilite.montant %></td>
            <td><%= comptabilite.created_at %></td>
            <td><%= link_to 'Voir', comptabilite,class:"btn btn-warning" %></td>

            <td><%= link_to 'Modifier', edit_comptabilite_path(comptabilite),class:"btn btn-info" %></td>

            <td><%= link_to 'Supprimer', comptabilite, method: :delete, data: { confirm: 'Êtes-vous sûre?' },class:"btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>