<div class="container portfolio-container">
  <% if notice %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>

  <p>
    <strong>Nom:</strong>
    <%= @comptabilite.nom %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= @comptabilite.prenom %>
  </p>

  <p>
    <strong>Acte:</strong>
    <%= @comptabilite.acte.name %>
  </p>

  <p>
    <strong>Type de Paiement:</strong>
    <%= @comptabilite.type_paiment.name %>
  </p>

  <% if !@comptabilite.ipm.nil?%>
    <p>
      <strong>Nom IPM:</strong>
      <%= @comptabilite.ipm.name %>
    </p>

    <p>
      <strong>Pourcentage de prise en charge:</strong>
      <%= @comptabilite.pourcentage_ipm %>%
    </p>
  <% end %>
  <p>
    <strong>Montant:</strong>
    <%= @comptabilite.montant %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= @comptabilite.telephone %>
  </p>

  <%= link_to 'Modifer', edit_comptabilite_path(@comptabilite) %> |
  <%= link_to 'Retour', comptabilites_path %>
</div>