<div class="container portfolio-container">
  <% if notice %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>
<%= link_to "Print Ticket", comptabilite_path(@comptabilite, format: :pdf, target: "_blank") %>
  <p>
    <strong><h1>Nom:</h1></strong>
    <span style=""><h4><%= @comptabilite.nom %></h4></span>
  </p>

  <p>
    <strong><h1>Prenom:</h1></strong>
    <span style=""><h4><%= @comptabilite.prenom %></h4></span>
  </p>

  <p>
    <strong><h1>Acte:</h1></strong>
    <span style=""><h4><%= @comptabilite.acte.name %></h4></span>
  </p>

  <p>
    <strong><h1>Type de Paiement:</h1></strong>
    <span style=""><h4><%= @comptabilite.type_paiment.name %></h4></span>
  </p>

  <% if !@comptabilite.ipm.nil?%>
    <p>
      <strong><h1>Nom IPM:</strong>
      <span style=""><h4><%= @comptabilite.ipm.name %></h4></span>
    </p>

    <p>
      <strong><h1>Le montant total:</strong>
      <span style=""><h4><%= @comptabilite.montant_total %></h4></span>
    </p>

    <p>
      <strong><h1>Pourcentage de prise en charge:</strong>
      <span style=""><h4><%= @comptabilite.pourcentage_ipm %>%</h4></span>
    </p>
  <% end %>
  <p>
    <strong><h1>Montant:</strong>
    <span style=""><h4><%= @comptabilite.montant %></h4></span>
  </p>

  <p>
    <strong><h1>Telephone:</h1></strong>
    <span style=""><h4><%= @comptabilite.telephone %></h4></span>
  </p>

  <%= link_to 'Modifer', edit_comptabilite_path(@comptabilite) %> |
  <%= link_to 'Retour', comptabilites_path %>
</div>