<%= form_with(model: reglement, local: true) do |form| %>
  <% if reglement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reglement.errors.count, "error") %> prohibited this reglement from being saved:</h2>

      <ul>
      <% reglement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mois %>
    <%= form.date_select :mois %>
  </div>

  <div class="field">
    <%= form.label :montant %>
    <%= form.number_field :montant %>
  </div>

  <div class="field">
    <%= form.label :ipm_id %>
    <%= form.text_field :ipm_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
