<div class="container portfolio-container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nom:</strong>
    <%= @caiss.nom %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= @caiss.prenom %>
  </p>

  <p>
    <strong>Acte:</strong>
    <%= @caiss.acte %>
  </p>

  <p>
    <strong>Payement:</strong>
    <%= @caiss.payement %>
  </p>

  <p>
    <strong>Montant:</strong>
    <%= @caiss.montant %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= @caiss.telephone %>
  </p>

  <%= link_to 'Edit', edit_caiss_path(@caiss) %> |
  <%= link_to 'Back', caisses_path %>
